/* Empty. Add your own CSS if you like */
/*.tabs{
    background-color:#303030;
}
.tab-item {
    color:white;
}*/
.red{
    color:#b80000;
}
::selection {
  background: #57c727; /* WebKit/Blink Browsers */
  color:white;
}

.newTrackTitle{
	position: absolute;
	bottom:55px;
	left:30px;
}
.newTrackArtist{
	position: absolute;
	bottom:40px;
	left:30px;
}
.scroll, .playercontent{
    height:100%!important;
}
.playercontent{
    
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    
    justify-content: space-between;
    -webkit-align-content: stretch;
    
    align-content: stretch;
    -webkit-align-items: flex-start;
    
    align-items: flex-start;
    }
    border:1px solid red;
	
}
.trackinfo{
	border:1px solid blue;
	order: 0;
    flex: 0 1 auto;
    align-self: auto;
}
.playercontrols{
    padding-bottom: 35px;
	font-size: 30px;
	color:#424242;
	order: 0;
    flex: 0 1 auto;
    align-self: auto;
}
.playercontrols .col{
	text-align: center;
	/*border: 1px solid black;*/
}
.progress-bar{
    height:2px;
    background-color: #45853a;
}
.load-bar{
    height:2px;
    background-color: #b3b3b3;
}
.time{
    text-align: right;
}

#searchText{
    line-height: 1.4em;
    font-size: 1.4em;
    font-weight: 200;
}
